@font-face {
    font-family: 'Nexa Extra Light';
    src: local('Nexa Extra Light'), local('NexaLight'),
         url('../fonts/NexaLight.woff2') format('woff2'),
         url('../fonts/NexaLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

/* Nexa Bold */
@font-face {
    font-family: 'Nexa Bold';
    src: local('Nexa Bold'), local('NexaBold'),
         url('../fonts/NexaBold.woff2') format('woff2'),
         url('../fonts/NexaBold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/* Aesthetik Script */
@font-face {
    font-family: 'Aesthetik Script';
    src: local('Aesthetik Script'), local('AesthetikScript'),
         url('../fonts/AesthetikScript.woff2') format('woff2'),
         url('../fonts/AesthetikScript.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
