:root {
    --brown: #3A2A17;
    --red: #AE421C;
    --yellow: #D8A627;
    --blue: #1B2D5B;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

h4 {}
